.jumbotron
	%h1 Zameranie spoločnosti

.row.contact
	.col-lg-10.col-lg-offset-1
		%blockquote
			%p
				Zameranie v oblasti IT je prioritne postavený na vývoj a výrobu užívateľských programov, správcovského softwaru pre riadenie užívateľských systémov. Vytvorením takýchto softwarov dostane budúci užívateľ komplexné programové vybavenie, ktoré je postavené. Mladý tým IT špecialistov je pripravený poskytnúť našim klientom stabilne pracujúci software
		%blockquote
			%p
				Prostredníctvom takýchto programov v spojitosti s dokonalou interaktivitou a vizualizáciou sa vytvoria dokonalé interaktívne prezentácie a aktívne reklamy, ktoré bude riadiť a ovládať priamo klienti užívateľa. Je rokmi osvedčenou marketingovou pravdou, že každý klient potrebuje raz vidieť ako tisíckrát počuť. !
			%small
				Ľudia potrebujú chlieb a hry, my ponúkame našim užívateľom hru, aby si klient u užívateľa kúpil chlieb.“

