.jumbotron
	%h1 O nás
	%p.lead Spoločnosť HTM trade spol. s r.o. je obchodnou spoločnosťou, ktorá je v činnosti od roku 2003 so zameraním na realitný trh a činnosť v letectve. Od roku 2013  je primárnou podnikateľskou činnosťou spoločnosti vývoj, výroba a predaj softwaru a hardwaru pre potreby zakazníkov z oblasti obchodu a marketingu, bankovníctva, všetkých druhov dopravy, cestovného ruchu, štátnej a verejnej správy a pod.
	%p Sekundárnou podnikateľskou činnosťou je sprostredkovanie,  predaj náhradných dielov a zabezpečenie opráv leteckej a letiskovej techniky.
	%p
		%a.btn.btn-lg.btn-success{href: "#", role: "button"} Get started today

/ .row
/ 	.col-lg-4
/ 		%center
/ 			%h2 Konatel firmy
/ 			%h3 Ing. Ivan Hadvig
/ 			%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.

/ 			%h4 Tel.: +421 0903 511 489
/ 			%h4 Mail.: htmtrade1@gmail.com
/ 			%p
/ 				%a.btn.btn-primary.mail_to{href: "mailto:htmtrade1@gmail.com", role: "button"} Kontaktovať
/ 	.col-lg-4
/ 		%center
/ 			%h2 Servis-desk
/ 			%h3
/ 			%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.

/ 			%h4 Tel.: +421 0903 511 489
/ 			%h4 Mail.: htmtrade1@gmail.com
/ 			%p
/ 				%a.btn.btn-primary.mail_to{href: "mailto:htmtrade1@gmail.com", role: "button"} Kontaktovať
/ 	.col-lg-4
/ 		%h2 Heading
/ 		%p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
/ 		%p
/ 			%a.btn.btn-primary{href: "#", role: "button"} View details »