.jumbotron
	.row
		.col-lg-4
			%h1 Kontakt
		.col-lg-4
			%blockquote.address
				%p
					%strong HTM trade spol. s r.o.
				%p Gen. Svobodu 1974/21
				%p 960 01 Zvolen
		.col-lg-4
			%blockquote.ico
				%p IČO : 36 621 773
				%p DIČ : 2021765416
				%p IČ DPH : SK2021765416




.row.contact
	.col-lg-4.col-lg-offset-2
		%center
			.first
				%h2.position Konatel firmy
				/ %h3.name
				/ %hr
				/ %h4.text Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				%hr
				%h4
					.text Tel.:
					.number	+421 903 511 489
				%h4
					.text Mail.:
					.mail htmtrade1@gmail.com
				%p
					/ %a.btn.btn-info.btn-lg.mail_to{href: "mailto:htmtrade1@gmail.com", role: "button"} Kontaktovať
					%button.btn.btn-primary.btn-info.btn-lg{"data-target" => "#myModal", "data-toggle" => "modal"}
						Kontaktovať


	.col-lg-4
		%center
			.second
				%h2.position Info-Desk
				/ %h3.name
				/ %hr
				/ %h4.text Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				%hr
				%h4
					.text Tel.:
					.number	+421 904 062 723
				%h4
					.text Mail.:
					.mail htmtrade2@gmail.com
				%p
					%button.btn.btn-primary.btn-info.btn-lg{"data-target" => "#myModal2", "data-toggle" => "modal"}
						Kontaktovať

.row.contact2
	.col-lg-4
	.col-lg-4
	.col-lg-4