.jumbotron
	%h1 Kontakt

.row
	.col-lg-4
		%center
			%h2 Konatel firmy
			%h3 Ing. Ivan Hadvig
			%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.

			%h4 Tel.: +421 0903 511 489
			%h4 Mail.: htmtrade1@gmail.com
			%p
				%a.btn.btn-info.btn-lg.mail_to{href: "mailto:htmtrade1@gmail.com", role: "button"} Kontaktovať
	.col-lg-4
		%center
			%h2 Servis-desk
			%h3
			%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.

			%h4 Tel.: +421 0902 000 111
			%h4 Mail.: @gmail.com
			%p
				%a.btn.btn-info.btn-lg.mail_to{href: "mailto:@gmail.com", role: "button"} Kontaktovať
	.col-lg-4
		%center
			%h2 Info Linka
			%h3
			%p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.

			%h4 Tel.: +421 0902 000 111
			%h4 Mail.: @gmail.com
			%p
				%a.btn.btn-info.btn-lg.mail_to{href: "mailto:@gmail.com", role: "button"} Kontaktovať