.jumbotron
	%h1 Úvod
	%p.lead Spoločnosť HTM trade spol. s r.o. je obchodnou spoločnosťou, ktorá je v činnosti od roku 2003 so zameraním na realitný trh a činnosť v letectve. Od roku 2013  je primárnou podnikateľskou činnosťou spoločnosti vývoj, výroba a predaj softwaru a hardwaru pre potreby zakazníkov z oblasti obchodu a marketingu, bankovníctva, všetkých druhov dopravy, cestovného ruchu, štátnej a verejnej správy a pod.
	%p Sekundárnou podnikateľskou činnosťou je sprostredkovanie,  predaj náhradných dielov a zabezpečenie opráv leteckej a letiskovej techniky.
	%p
		%a.btn.btn-lg.btn-success{href: "#", role: "button"} Get started today
