.jumbotron
	%h1 Úvod

.row.contact
	.col-lg-10.col-lg-offset-1
		%blockquote.first
			%p Spoločnosť HTM trade spol. s r.o., je malá rodinná spoločnosť so sídlom vo Zvolene, ktorá je v činnosti od roku 2003 so zameraním na obchodnú činnosť. Od roku 2013 je primárnou podnikateľskou činnosťou spoločnosti:
			%ul.activities
				%li.activity Vývoj, výroba a predaj softwaru a hardwaru pre potreby zakazníkov z oblasti zdravotníctva, obchodu a marketingu, bankovníctva, všetkých druhov dopravy, cestovného ruchu, štátnej a verejnej správy a pod.

				%li.activity Realizácia malého pivovaru na kľúč, presne podľa potrieb klentov.

		%blockquote.second
			%p Spoločnosť sa zaoberá výrobou firemného softwaru na mieru pre oblasti zdravotníctva, obchodu a marketingu, bankovníctva, všetkých druhov dopravy, cestovného ruchu, štátnej a verejnej správy a pod., ktorý dodávame spolu s kvalitným interaktívnym hardwarom v modernom dizajnovom prevedení. Prostredníctvom takýchto programov v spojitosti s dokonalou interaktivitou a vizualizáciou sa vytvoria dokonalé interaktívne prezentácie a aktívne reklamy, ktoré budú riadiť a ovládať priamo užívatelia. Účelom je, aby si užívateľ sám vyhľadal a zaujímal sa o pre neho potrebné a prospešné informácie a prezentoval svoje názory a pod. Významným prínosom pre vlastníkov takýchto zariadení je umiestnenie reklamných spotov jednotlivých dodávateľova a firiem z prostredia jednotlivých segmentov, napr. farmaceutických spoločností, dodávateľov potravináskych produktov, poskytovateľov služieb a pod. 
		%blockquote.third
			%p
				Spoločnosť pre Vás zabezpečí komplexnú realizáciu malého pivovaru na kľúč presne podľa Vašich predstáv a zámerov. Pre ďalšie informácie otvor nasledujúcu stránku:
				%a.brewery{:href=>"www.malypivovar.sk"} www.malypivovar.sk

