!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title HTM trade
    %link{:href => "/js/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "/css/jquery.carousel.fullscreen.css", :rel => "stylesheet"}/
    %link{href: "/css/main.css", rel: "stylesheet"}
    %link{:href => "http://fonts.googleapis.com/css?family=OFL+Sorts+Mill+Goudy+TT&subset=latin", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/images/favicon.png", :rel => "icon", :type => "image/png"}
    %script{:src => "/js/jquery-1.10.0.min.js"}
    %script{:src => "/js/bootstrap/js/bootstrap.min.js"}
    %script{:src => "/js/jquery.carousel.fullscreen.js"}
  %body
    #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}

      .carousel-inner
        .item.active
          %img{:alt => "", :src => "/images/14.jpg"}/
        .item
          %img{:alt => "", :src => "/images/12.jpg"}/
        .item
          %img{:alt => "", :src => "/images/13.jpg"}/
        .item
          %img{:alt => "", :src => "/images/3.jpg"}/
        .item
          %img{:alt => "", :src => "/images/2.jpg"}/


    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "#"}
            / %img.logo{:src => "/images/htm-logo.png"}
            %img.logo{:src => "/images/logo_test.png"}
        .collapse.navbar-collapse.pull-right
          %ul.nav.navbar-nav
            %li.main
              %a.red{:href => "/"} Úvod
            %li.service
              %a.blue{:href => "/service"} Služby
            %li.contact
              %a.yellow{:href => "/contact"} Kontakt

    .content
      .progressbar
      .container.body
        = yield
    #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
            %h3#myModalLabel.modal-title Kontaktovať konatela firmy
            %h3#myModalLabel.modal-title Ing. Ivan Hadvig
          .modal-body
            %form{:role => "form", :action=>"/submit_mail_representative", "method"=>"post"}
              .form-group
                %input#senderEmail.form-control{:placeholder => "Váš @-mail", :type => "email", :name => "mail"}
              .form-group
                %input#senderSubject.form-control{:placeholder => "Predmet", :type => "subject", :name => "subject"}
              .form-group
                %textarea.form-control{:rows => "5", :name => "description"}
              %button.btn.btn-primary{:type => "submit"} Odoslať
              %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Zavrieť

    #myModal2.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
            %h3#myModalLabel.modal-title Info-Desk
            %h3#myModalLabel.modal-title
          .modal-body
            %form{:role => "form"}
              .form-group
                %input#senderEmail.form-control{:placeholder => "Váš @-mail", :type => "email", :name => "mail"}
              .form-group
                %input#senderSubject.form-control{:placeholder => "Predmet", :type => "subject", :name => "subject"}
              .form-group
                %textarea.form-control{:rows => "5", :name => "description"}
              %button.btn.btn-primary{:type => "submit"} Odoslať
              %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Zavrieť

    #airTechniqueModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
            %h3#myModalLabel.modal-title Informacie o našich službách v oblasti leteckej a letiskovej techniky
            %h3#myModalLabel.modal-title
          .modal-body
            %form{:role => "form"}
              .form-group
                %input#senderCompanyName.form-control{:placeholder => "Váša spoločnosť", :type => "email", :name => "company-name"}
              .form-group
                %input#senderName.form-control{:placeholder => "Váše meno", :type => "name", :name => "name"}
              .form-group
                %input#senderEmail.form-control{:placeholder => "Váš @-mail", :type => "email", :name => "mail"}
              .form-group
                %input#senderPhone.form-control{:placeholder => "Telefón", :type => "subject", :name => "phone"}
              .form-group
                %textarea.form-control{:placeholder => "Text...", :rows => "5", :name => "description"}
              %button.btn.btn-primary{:type => "submit"} Odoslať
              %button.btn.btn-danger{"data-dismiss" => "modal", :type => "button"} Zavrieť



    #footer
      .container
        %p.text-muted.credit
          © HTM trade spol. s r.o 2014




