.jumbotron
	%h1 Referencie

.row.contact.ipd
	.col-lg-10.col-lg-offset-1
		.head
			%h2
				%blockquote
					%strong Ortotech spol. s r.o. Banská Bystrica
		.body
			.lead.first
				%ul.sw-service
					%li Realizácia užívateľského prezentačného firmwaru
					%li Hardwarové, projektové a realizačné riešenie

			%hr.red

			.fancybox-images
				%a.fancybox{:rel=>"gallery1", :href => "images/fancybox/references/1.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/references/1_s.png"}/
				%a.fancybox{:rel=>"gallery1", :href => "images/fancybox/references/2.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/references/2_s.png"}/
				%a.fancybox{:rel=>"gallery1", :href => "images/fancybox/references/3.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/references/3_s.png"}/
				%a.fancybox{:rel=>"gallery1", :href => "images/fancybox/references/4.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/references/4_s.png"}/
				%a.fancybox{:rel=>"gallery1", :href => "images/fancybox/references/5.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/references/5_s.png"}/


