.jumbotron
	%h1 Referencie

.row.contact.ipd.references
	.col-lg-10.col-lg-offset-1
		.head
			%h2
				%blockquote
					%strong Ortotech spol. s r.o. Banská Bystrica
		.body
			.lead.first
				%ul.sw-service
					%li Realizácia užívateľského prezentačného firmwaru
					%li Hardwarové, projektové a realizačné riešenie

			%hr.red

			.fancybox-images
				%a.fancybox{:rel=>"gallery1", :href => "images/fancybox/Ortotech/references/1.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/references/Ortotech/1_s.png"}/
				%a.fancybox{:rel=>"gallery1", :href => "images/fancybox/references/Ortotech/2.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/references/Ortotech/2_s.png"}/
				%a.fancybox{:rel=>"gallery1", :href => "images/fancybox/references/Ortotech/3.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/references/Ortotech/3_s.png"}/
				%a.fancybox{:rel=>"gallery1", :href => "images/fancybox/references/Ortotech/4.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/references/Ortotech/4_s.png"}/
				%a.fancybox{:rel=>"gallery1", :href => "images/fancybox/references/Ortotech/5.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/references/Ortotech/5_s.png"}/

	.col-lg-10.col-lg-offset-1
		.head
			%h2
				%blockquote
					%strong 3D planetárium Plzeň
		.body
			.lead.first
				%ul.sw-service
					%li Realizácia interaktivneho užívateľského firmwaru
					%li Hardwarové, projektové a realizačné riešenie

			%hr.red

			.fancybox-images
				%a.fancybox{:rel=>"gallery2", :href => "images/fancybox/references/Plzen/1.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/references/Plzen/1s.jpg"}/
				%a.fancybox{:rel=>"gallery2", :href => "images/fancybox/references/Plzen/2.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/references/Plzen/2s.jpg"}/
				%a.fancybox{:rel=>"gallery2", :href => "images/fancybox/references/Plzen/3.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/references/Plzen/3s.jpg"}/

	.col-lg-10.col-lg-offset-1
		.head
			%h2
				%blockquote
					%strong ArtroPro Martin
		.body
			.lead.first
				%ul.sw-service
					%li Realizácia interaktivneho užívateľského firmwaru
					%li Hardwarové, projektové a realizačné riešenie

			%hr.red

			.fancybox-images
				%a.fancybox{:rel=>"gallery3", :href => "images/fancybox/references/Artropro/1.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/references/Artropro/1s.jpg"}/
				%a.fancybox{:rel=>"gallery3", :href => "images/fancybox/references/Artropro/2.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/references/Artropro/2s.jpg"}/
				%a.fancybox{:rel=>"gallery3", :href => "images/fancybox/references/Artropro/3.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/references/Artropro/3s.jpg"}/

