.jumbotron
	%h1 Služby

.row.contact.air_technique
	.col-lg-10.col-lg-offset-1
		.head
			%h2
				%blockquote
					%strong Služby v oblasti malých pivovarov
		.body
			%p.lead.first	
				Pre záujemcov navrhneme optimálnu štruktúru mini pivovaru vhodnú pre hotely, penzióny, reštaurácie a pod. Zabezpečíme komplexnú dodávku technológie na varenie piva a poskytneme všetky potrebné služby nevyhnutné pre vlastné pravideľné varenie piva rôznych druhov, spolu s odborným dohľadom. Pre podrobnejšie informácie prejdi na našu web stránku :
				%a.brewery{:href=>"www.malypivovar.sk"} www.malypivovar.sk

			/ %p
			/ 	%button.btn.btn-lg.btn-warning{"data-target" => "#airTechniqueModal", "data-toggle" => "modal"} Formulár

.row.contact.ipd
	.col-lg-10.col-lg-offset-1
		.head
			%h2
				%blockquote
					%strong Služby v oblasti vývoja softwaru
		.body
			.lead.first
				.lead-header Softwarové služby:
				%ul.sw-service
					%li Vývoj užívateľského softwaru – predovšetkým v oblasti reklamy a prezentácií
					%li Vytváranie webových aplikácií a portálov
					%li Podpora pri prevádzke webových systémov
					%li Spolupráca pri vývoji softwaru pre IT spoločnosti
					%li Parciálna spolupráca na vývoji softwarových projektov pre IT spoločnosti
					%li Správa a dlhodobá podpora užívateľských systémov

			%hr.red

			.fancybox-images
				%a.fancybox{:rel=>"gallery1", :href => "images/fancybox/1/example-1.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/1/example-1_small.jpg"}/
				%a.fancybox{:rel=>"gallery1", :href => "images/fancybox/1/example-2.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/1/example-2_small.jpg"}/
				%a.fancybox{:rel=>"gallery1", :href => "images/fancybox/1/example-3.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/1/example-3_small.jpg"}/
				%a.fancybox{:rel=>"gallery1", :href => "images/fancybox/1/example-4.jpg"}
					%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/1/example-4_small.jpg"}/


			%hr.red

			.lead.second
				.lead-header Prezentačný hardware spolu so softwarom
				.text
					%p Prostredníctvom našej spoločnosti Vám ponúkame okrem nášho užívateľského softwaru tiež najnovšie hardwarové interaktívne technológie. Výhody interaktívnej prezentácie prostredníctvom dotykových fólií, dotykových LCD, LED a plazmových panelov sú inovatívnou cestou vo svete marketingu a komunikácie so zákazníkom. Interaktívne prezentačné displaye ponúkame zabudované do špeciálnych stojanov, kioskov a totemov priemyselného prevedenia, resp. na zakázku v požadovanom  dizajne a farebnej úprave.

			%hr.red

			.lead.three
				.row
					.col-lg-10.col-lg-offset-1
						.column1-text
							.header
								Dotykové LCD, LED panely, Dotykové IR ­ rámy

							%center
								.text
									Vytvárajú dokonalú dynamicko interaktívnu prezentáciu produktov, služieb a reklamy prostredníctvom priamej komunikácie so záujemcami, zákazníkmi a všeobecnou verejnosťou v reálnom čase a to rôznymi formami komunikácie – priama mailová komunikácia, firemné akcie, firemné súťaže, dynamické reklamné spoty, ukážky, videá a pod.

			.lead.four
				.row
					.col-lg-10.col-lg-offset-1
						.column1-text
							.header
								Dotykové projekčné fólie
							%center
								.text
									Vytvárajú dokonalú dynamickú – interaktívnu prezentáciu produktov, služieb a reklamy prostredníctvom prostredníctvom zadnej projekcie aplikovanej priamo na sklách výkladov. Zabezpečuje priamu komunikáciu so záujemcami, zákazníkmi a všeobecnou verejnosťou v reálnom čase.

			.lead.five
				.row
					.col-lg-10.col-lg-offset-1
						.column1-text
							.header
								Dotykové stojany, kiosky a totemy
							%center
								.text
									Rôznych typov, dizajnu, veľkostí a požiadavok zákazníka. Atraktívne dizajnové riešenie so zabudovaným bezventilátorovým PC.

			%center
				.fancybox-images2
					%a.fancybox2{:rel=>"group", :href => "images/fancybox/2/example2-1.jpg"}
						%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/2/example2-1_small.jpg"}/
					%a.fancybox2{:rel=>"group", :href => "images/fancybox/2/example2-2.jpg"}
						%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/2/example2-2_small.jpg"}/
					%a.fancybox2{:rel=>"group", :href => "images/fancybox/2/example2-3.jpg"}
						%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/2/example2-3_small.jpg"}/

			%hr.red

			.lead.five
				.row
					.col-lg-10.col-lg-offset-1
						.column1-text
							.header
								IF-TAB - Full HD prezentačný a komunikačný systém 
							%center
								.text
									Špičkové interaktívne displaye sú určené na prezentáciu a komunikáciu – MAXI TABLETY v dizajnoch klasického obrazu vo veľkostiach 32“ a 46“ a hrúbke 4cm, výkonnou WiFi anténou a veľmi nízkou spotrebou energie. Vďaka farebným variáciám dreveného rámu je vhodný do všetkých interiérov.

			%center
				.fancybox-images2
					%a.fancybox2{:rel=>"group", :href => "images/fancybox/2/image.png"}
						%img{:class=>"img-thumbnail", :alt => "", :src => "images/fancybox/2/image-small.png"}/

			%hr.red

			.lead.six
				.lead-header Vlastnosti:
				%ul.abilities
					%li Dotykové obrazovky
					%li Integrované výkonné bezventilátorové PC

				.lead-header Výhody:
				%ul.advantages
					%li Esteticky pôsobivý dizajn
					%li Možnosť dizajnového okrajového osvetlenie
					%li Konečná úprava vo farbách a s označeniami podľa vlastného výberu
					%li Dodávané aj s ozvučením
