.jumbotron
	%h1 Služby

.row.contact.ipd
	.col-lg-10.col-lg-offset-1
		.head
			%h2
				%blockquote Služby v oblasti interaktívnych prezentačných displayov (IPD)
		.body
			%p.lead.first
			%p.lead.second



.row.contact.air_technique
	.col-lg-10.col-lg-offset-1
		.head
			%h2
				%blockquote Služby v oblasti leteckej a letiskovej techniky
		.body
			%p.lead.first	Realizujeme dodávku resp. sprostredkovanie dodávok náhradných dielov a opráv leteckej a letiskovej technitky podľa požiadavok klietov.
			%p.lead.second	Ak máte záujem o získanie ďalších informácií, kontaktujte nás prosím pomocou nasledujúseho nezáväzného formulára.

			%p
				%button.btn.btn-lg.btn-warning{"data-target" => "#airTechniqueModal", "data-toggle" => "modal"} Formulár