@font-face {
  font-family: overpass;
  src: url('../fonts/overpass.ttf');
}

@font-face {
  font-family: overpass_bold;
  src: url('../fonts/overpass_bold.ttf');
}

.main-logo {
	font-family: overpass_bold;
	color: red;
}

body {
	background-color: #3E91AF !important;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #3E91AF !important;
}

.nav-justified.main-menu a {
	color: #005c64;
}